@media (max-width: 464px) {

    /* header */

    header {
        padding: 28px 8px;

    }

    .header_icon {
        width: 40px;
        height: 40px;
    }

    .icon_div{
        column-gap: 16px;
    }

    .header_icons{
        font-size: 32px;
    }

/* section 1 */

.section1_div {
    column-gap: 20px;
}

.section1_title{
    font-size: 28px;
}

    
    /* section 2 */

    

    .section2{
        padding: 32px 4px;
        /* height: 520px; */
    }
    
    .section2_div{
       column-gap: 10px;

    }
    .section2_divs {
        width: 170px;
        height: 160px;
    }

    .titles {
        font-size: 16px;
        line-height: 24px;

    
    }
   

    /* section 3 */

    .section3_title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 405px){

/* section 4 */

.email{
    width: 200px;
}

}



@media (max-width: 365px){


      /* section 2 */

    

      .section2{
        padding: 5px 1px;
        /* height: 520px; */
    }

    .section2_img {
        /* width: 190px; */
        height: 120px;
    }
    .section2_divs {
        width: 140px;
        height: 120px;
    }


    /* section 4 */
    
    .email{
        width: 150px;
    }
    
    }

