/* container */
.container {
    max-width: 1440px;
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    margin: auto;
    /* background-color: #C46A2B; */
}

/* header */
header {
    display: flex;
    /* margin: auto; */
    width: inherit;
    max-width: inherit;
    padding: 16px 94px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    background: #012426;
    /* flex: fixed; */
    z-index: 1;

}

.burger_icon {
    font-size: 32px;
    color: #05BCCA;
    display: none;
}

.x_icon {
    font-size: 32px;
    color: #05BCCA;
    display: none;
}

.header_icon {
    /* display: flex; */
    width: 64px;
    height: 64px;
    /* margin-inline: 288px; */

}

.header_ul {

    display: flex;
    /* justify-content: space-around; */
    column-gap: 72px;


}

.header_txt {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.header_txt:hover{
    color: #05BCCA;
    text-shadow: 0 0 1em blue, 0 0 0.2em blue;
}


.icon_div {
    display: flex;
    column-gap: 32px;
    /* justify-content: space-between; */

}

.header_icons {
    /* border: #05BCCA;
    border-width: 5px; */
    font-size: 32px;
    color: #05BCCA;



}

.header_icons{
    animation-name: icons_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
}

@keyframes  icons_animation{
    0%{
        transform:rotate(0deg) ;
    }
    50%{
        transform:rotate(180deg) ;
    }
    100%{
        transform:rotate(360deg) ;
    }

}

.icons{
    animation-name: icon_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite ;

}

@keyframes  icon_animation{
    0%{
        transform:rotate(0deg) ;
    }
    50%{
        transform:rotate(-180deg) ;
    }
    100%{
        transform:rotate(-360deg) ;
    }

}


.last {
    font-size: 5px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    padding: 1px 6px;
}

/* section 1 */

.section1 {
    margin-top: 94px;
    width: 100%;
    height: 480px;
    background-image: url("../imgs/cover1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* transform: translate(- 50% -50%); */
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: center;

}

.section1_div {
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    /* margin-top: 88px; */
    column-gap: 24px;
    margin-bottom: 246px;
}

.section1_title {

    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

span {
    color: #FFF;
}

button {
    /* display: flex; */
    width: 36px;
    height: 24px;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #C46A2B;


}

button:hover{
    transform: rotate(20deg);
}


/* section 2 */

.section2 {
    display: flex;
    width: 100%;
    background: #012426;
    padding: 96px 306px;
    justify-content: center;
    align-items: center;
    /* max-width: inherit; */
    /* flex-direction: column; */
    /* height: 692px; */
    /* align-content: center; */

}

.section2_div {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

}


.section2_div1 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}


.section2_divs {
    display: flex;
    /* width: calc(404 / 1440 * 100%); */
    position: relative;
    width: 404px;
    height: 240px;
    /* column-gap: 20px; */
}

.section2_img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.titles {
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;

}

/* section 3 */

.section3 {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    background: #1A1A1A;
    padding: 96px 94px;
}


.figure1:hover {
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}

.section3_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    margin: 0 auto;
}


.underline {
    /* display: flex; */
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187.267px;
    height: 2px;
    background-color: #05BCCA;
    /* margin-top: 0; */
    margin: auto;
    margin-bottom: 64px;
}

.section3_article {
    display: flex;
    /* width: 100%; */
    /* width: calc(1250 / 1440 * 100%); */
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    /* overflow-x: auto;
    overflow: hidden;
    overflow-x: scroll; */
    /* flex: 1 0 288px; */


}


.decription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.figure_img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.figure_title {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.stars {
    font-size: 16px;
    color: #C46A2B;
}

.review {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin-left: 8px;
    margin-right: 72px;
}

.dollar {
    /* display: flex; */
    font-size: 16px;
    color: #05BCCA;
}

.price_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.price {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.figure1 {
    display: flex;
    /* width: 298px; */
    height: 400px;
    padding: 8px 8px 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    /* flex-shrink: 0; */
    border: 1px solid #05BCCA;
    background: #2C4246;
}



/* section 4 */

.section4 {
    display: flex;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/cover2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;


}


.section4_div {
    display: flex;
    /* margin-top: 107px; */
    justify-content: center;
    align-self: center;

}

.search_title {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

form {
    display: flex;

}

.email_div {
    display: flex;
    margin-top: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;


}

.email {
    display: flex;
    height: 48px;
    width: 361px;
    /* padding-left: 8px; */
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    border-radius: 8px 0px 0px 8px;
    background: rgba(44, 66, 70, 0.80);
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    border: none;

}

.SUBSCRIBE {
    display: flex;
    height: 48px;
    width: 119px;
    padding: 15px 14px 14px 14px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;

    /* 118.75% */
    /* margin-top: 40px; */

    /* flex-shrink: 0; */
}

/* footer */

footer {

    background: #2C4246;
    /* max-width: inherit; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* row-gap: 50px; */
    /* background-color: #C46A2B; */
    /* height: 500px; */
    padding: 48px 306px 64px;

}

.footer_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* flex-direction: column; */
    /* gap: 223px; */
    /* background-color: darkred; */
    /* margin-inline: 306px; */
}



.footer_title {

    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;


}

.underlines {
    /* display: flex; */
    width: 80px;
    height: 2px;
    background-color: #D9D9D9;
    margin-bottom: 24px;

}

.links_ul {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    gap: 8px;

}

.links {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* display: flex;
    flex-wrap: nowrap; */
}

/* .adress{
   display: block;
} */

.icons_div {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.footer_icon {
    font-size: 32px;
    color: #D9D9D9;

}

.copyright {
    display: flex;
    /* flex-direction: row; */
    margin: auto;
    gap: 4px;
    /* background-color: #C46A2B; */
    margin-top: 64px;

}

.copyright_img {
    width: 20px;
    height: 19.949px;
    color: #D9D9D9;
    align-items: center;
    justify-content: center;
}

.copyright_txt {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* about  page */

/* section 1 */

.section2_1 {
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
    margin-top: 94px;
    display: flex;
    justify-content: center;
    padding: 36px 444px;

}

.section_div1 {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    /* justify-content: center;
    align-items: center; */

}

.catalog {

    border: 1px solid #05BCCA;
    display: flex;
    height: 73px;
    padding: 18px 24px;
    /* justify-content: center;
    align-items: center; */
}

.catalog_txt {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}

.Electric {
    background: #A1C3C9;
}

.middle {
    color: #2C4246;
}

/* section 2 */

.section2_2 {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 96px 75px;
    background: #012426;
    flex-direction: column;
    /* height: 2112px; */


}

.filter_article {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* align-items: flex-start; */
    margin-bottom: 64px;

    /* gap: 859px; */
}


.filter_div1 {
    display: flex;
    gap: 16px;
    /* align-items: center; */
    /* margin-right: 800px; */
}

.filter {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.filter_icon {
    font-size: 32px;
}

.sort_div {
    display: flex;
    /* flex-direction: row; */
    gap: 32px;
}

.sort {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.best {
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #A1C3C9;
}

.selling {
    color: #2C4246;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.angle {
    font-size: 24px;
    color: #2C4246;
}

.cards_figure {
    flex: 0 1 298px;
    height: 400px;
    background: #2C4246;
    transition-duration: 2s;
}

.cards_figure:hover {
    transform: scale(1.5);
  }

.fig_img {
    width: 100%;
    height: 298px;
    object-fit: cover;

}

.cards_div {
    display: flex;
    gap: 40px;

}

.cards {
    flex-wrap: wrap;
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
}



.fig_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-left: 8px;

}

.figure_title {

    margin-top: 16px;
}

.decription1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_div1 {
    display: flex;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
}



.button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap: 48px;
}

.Previous {
    display: flex;
    width: 121px;
    height: 40px;
    padding: 8px;
    /* justify-content: center; */
    gap: 16px;
    border-radius: 8px;
    background: #C46A2B;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;


}

.page {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Next {
    display: flex;
    width: 92px;
    height: 40px;
    padding: 8px;
    /* justify-content: center; */
    gap: 16px;
    border-radius: 8px;
    background: #05BCCA;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* contact page */

/* section 1 */

.section1_3 {
    display: flex;
    margin-top: 95px;
    /* width: 100%; */
    /* height: 720px; */
    background-image: url("../imgs/cover3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* align-items: center; */
    justify-content: right;
    /* padding: 82px 75px 90px 760px; */

}

.contact_div {
    display: flex;
    width: 616px;
    /* height: 509px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* background-color: #F5F5F5; */
    margin-right: 94px;
    margin-top: 96px;
    margin-bottom: 115px;
}


.contact_txt {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.div_1 {
    display: flex;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    gap: 228px;
    width: 616px;
    background: #2C4246;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mail {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.phone {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.social_p {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.envelope {
    font-size: 24px;
    color: #D9D9D9;
}

.mobile {
    color: #D9D9D9;
    font-size: 24px;
}

.location {
    font-size: 88px;
    color: #D9D9D9;
}

.form_div {
    display: flex;
}

.contact_form {
    width: 290px;
    display: flex;
    flex-direction: column;

}

.form_div1 {
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
}

.input_text {
    width: 141px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: #2C4246;
    padding: 6px 99px 6px 8px;

}


.input_email {
    width: 141px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: #2C4246;
    padding: 6px 99px 6px 8px;


}

.textarea {
    width: 290px;
    height: 103px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: #2C4246;
    resize: none;

}

.submit {
    padding: 8px 75px;
    /* justify-content: center;
    align-items: center; */
    background: #C46A2B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    height: 40px;
    width: 290px;
}


.map_div {
    display: flex;
    /* justify-content: center; */
    gap: 32px;
    flex-direction: column;
    margin-left: 40px;

}

iframe {
    width: 286px;
    height: 151px;

}
.icons_div_contact {
    display: flex;
    justify-content: flex-end;

}

.contact_icon {
    font-size: 32px;
    color: #05BCCA;

}

