@media (max-width: 745px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    /* section 2 */
    .section2_divs {
        width: 330px;
    }

    /* footer */

    footer {
        padding-inline: 32px;
    }


}

@media (max-width: 695px) {

    /* section 2 */
    .section2_divs {
        width: 270px;
    }
}

@media (max-width: 580px) {

    /* section 2 */
    .section2_divs {
        width: 220px;
    }

    /* section 4 */

    .email {

        width: 280px;
    }
}

@media (max-width: 481px) {

    /* section 2 */

    .section2 {
        padding: 32px 8px;
        /* height: 600px; */
        row-gap: 20px;
    }

    .section2_div {
        gap: 20px;
    }

    .section2_div1 {
        gap: 20px;
    }

    .section2_img {
        /* width: 190px; */
        height: 170px;
    }

    .section2_divs {
        width: 190px;

    }

    .titles {
        font-size: 16px;
        line-height: 24px;
    }

    /* section 3 */

    .section3 {
        padding: 40px 0 40px 16px;

    }

    .section3_title {
        font-size: 24px;
        line-height: 32px;
    }

    /* section 4 */

    .search_title {
        font-size: 24px;
        line-height: 32px;
    }

    /* footer */
    .footer_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        /* position: absolute; */
        /* left: -50%;
        right: 50%;
         */
        /* justify-content: center;
        align-items: flex-start; */

    }


    .footer_title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .underlines {
        margin: auto;
        margin-bottom: 24px;

    }

    .links_ul {

        justify-content: center;
        align-items: center;
        /* flex-wrap: nowrap; */
        gap: 8px;

    }

    .icons_div {
        justify-content: center;
        align-items: center;
    }

}

/* about page */

@media (max-width: 744px) {

    /* section 2 */

    .section2_2 {
        padding-inline: 32px;
    }
}

@media (max-width: 690px) {

    /* section 2 */

    .section2_2 {
        padding-inline: 15px;
    }
}

@media (max-width: 650px) {

    /* section 2 */

    .section2_2 {
        padding-inline: 5px;
    }
}

@media (max-width: 626px) {

    /* section 2 */

    .section2_2 {
        padding-inline: 30px;
    }
}


@media (max-width: 585px) {

    /* section 1 */
    .catalog {
        height: 65px;
        padding: 12px 18px;
    }

    .catalog_txt {
        font-size: 20px;
        line-height: 28px;
    }

}

@media (max-width: 500px) {

    /* section 2 */

    .filter {
        display: none;
    }




}

/* contact page */

@media (max-width: 765px) {

    .contact_div {
        margin-right: 60px;
    }



}

@media (max-width: 710px) {

    .contact_div {
        margin-right: 40px;
    }



}


@media (max-width: 680px) {

    .social_p {
        display: none;
    }

    .social {
        flex-direction: row;
        gap: 24px;
    }


    .location {
        font-size: 65px;

    }

    .div_1 {
        width: 550px;
        margin: auto;
        /* justify-content: center;
       align-items: center; */
    }

    .contact_div {
        width: 550px;
    }

    iframe {
        width: 215px;


    }

}

@media (max-width: 610px) {

    .social {
        flex-direction: row;
        gap: 24px;
    }


    .location {
        font-size: 40px;

    }

    .div_1 {
        width: 480px;
        margin: auto;
        /* justify-content: center;
       align-items: center; */
    }

    .contact_div {
        width: 500px;


    }

    /* .contact_form{
        width: 260px;
        column-gap: 10px;
    } */
    iframe {
        width: 170px;


    }

}


@media (max-width: 610px) {

    .contact_div {
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        /* flex-direction: column; */


    }

    .contact_txt {
        font-size: 16px;
        line-height: 24px;
        margin: auto;
        margin-left: 10px;
    }

    .div_1 {
        flex-direction: row;
       gap: 24px;
        justify-content: center;
       align-items: center;
       width: 295px;
    }


    .social {

        justify-content: center;
        gap: 24px;
    }

    .location {
        width: 24px;
        ;
    }

    .form_div {
        flex-direction: column;
        column-gap: 13px;

    }

    .contact_form,
    .textarea,
    .map_div {
        width: 295px;
    }

    .map_div {
        margin: auto;
    }



    iframe {
        width: 295px;
        margin-bottom: 32px;

    }

    .icons_div_contact {
        justify-content: center;
        margin: 0;
    }

    .submit{
        margin-bottom: 40px;
    }

}